{%- extends "layout.html" -%}
{%- block title %}{{post.title}}{% endblock %}

{%- block sidebar %}
<div class="sidebar">
  <h2 class="sidebar-title">Documentation</h2>
  <ul>
    {%- for item in resource.posts|directory(post.directory) %}
    <li{%if item.id == post.id%} class="active"{%endif%}><a href="./{{item.meta.filename}}">{{item.title}}</a></li>
    {%- endfor %}
  </ul>
</div>
{%- endblock %}

{%- block document %}
<div class="hentry">
  <h1 class="entry-title">{{post.title}}</h1>
  {%- if post.description %}
  <blockquote class="entry-description">{{post.description}}</blockquote>
  {%- endif %}

  {%- if post.toc %}
  <div class="entry-toc">
    <h3>Table of Contents</h3>
    {{post.toc}}
  </div>
  {%- endif %}

  <div class="entry-content">{{post.html|linkfix}}</div>
  <div class="entry-meta">
    <time class="updated" datetime="{{post.pubdate|xmldatetime}}">{{post.pubdate|date('Y-m-d')}}</time>
  </div>
</div>
{% endblock -%}
