@import url(http://fonts.googleapis.com/css?family=Lato:light,regular);

html, body {
  text-rendering: optimizelegibility;
  margin: 0;
  padding: 0;
}

body, button, input, select, textarea {
  font: 16px/1.62 "Ubuntu", 'Helvetica Neue', 'Xin Gothic', 'Hiragino Sans GB', 'Microsoft YaHei', 'WenQuanYi Micro Hei', 'aria', sans-serif;
  color: #3E4349;
}

p, pre,
ul, ol, dl,
form, hr,
.content div {
  margin: 0.62em 0 1em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 300;
  margin: 1.62em 0 0.62em;
  font-family: "Lato", 'Xin Gothic', 'Hiragino Sans GB', 'Microsoft YaHei', 'WenQuanYi Micro Hei', 'Helvetica Neue', "aria", sans-serif;
}

h1 {
  font-weight: 700;
  font-size: 2em;
}

h2 {
  font-size: 1.5em;
}

h3,
h4,
h5,
h6 {
  font-size: 1.25em;
}

ul {
  list-style: square;
}

ol {
  list-style: decimal;
  margin-left: 1em;
}

li {
  margin-bottom: 0.6em;
}

li ul, li ol {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
  padding-left: 2em;
}
li ul {
  list-style: disc;
}
li li ul {
  list-style: circle;
}

a {
  color: #5784bf;
  text-decoration: none;
  word-wrap: break-word;
}
a:hover {
  color: #3af;
  cursor: pointer;
  text-decoration: underline;
}

img {
  margin: 0.62em 1em 0.31em 0;
  max-width: 100%;
  display: block;
  text-align: center;
  float: none !important;
}

pre,
code,
tt {
  font-size: 1em;
  line-height: 1.5em;
  font-family: Consolas, "Liberation Mono", Courier, monospace;
  overflow-x: scroll;
}

pre {
  border: 1px solid RGB(223, 223, 218);
  border-radius: 3px;
  background-color: #f7f7f7;
  padding: 0.2em 0.6em;
}

blockquote {
  margin: 0;
  padding: 0 0 0 7px;
  color: #555;
  border-left: 3px solid #d64;
}
blockquote p:last-child {
  margin-bottom: 0.2em;
}

.align-left {
  float: left;
  margin-right: 1em;
  margin-left: 0;
}

.align-right {
  float: right;
  margin-right: 0;
  margin-left: 1em;
}

table {
  margin-bottom: 1.5em;
  font-size: 1em;
  width: 100%;
}

th {
  text-align: left;
  padding: .25em .25em .25em .4em;
}

td {
  vertical-align: top;
  padding: .25em .25em .25em .4em;
}

tr:nth-child(even) {
  background: #E8E7E7;
}

hr {
  color: #DDD;
  background-color: #DDD;
  height: 1px;
  border: none;
}
.github {
  position: fixed;
  top: 40px;
  left: -50px;
  border: 2px solid #121622;
  box-shadow: 0 0 8px #555;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.github:hover {
  box-shadow: 0 0 12px #444;
}
.github .github-link {
  display: block;
  font-family: "Lato", sans-serif;
  font-size: 14px;
  padding: 2px 0;
  width: 200px;
  border: 1px dotted #383c46;
  background-color: #121622;
  color: #ecedee;
  text-decoration: none;
  text-align: center;
}
@media (max-width: 960px) {
  .github {
    display: none;
  }
}
.navigation {
  font-size: 14px;
  background-color: #333;
  box-shadow: 0 0 10px #000 inset;
  padding: 3px 10px;
  opacity: 0.9;
}
.navigation .menu {
  text-align: right;
}
.navigation .home {
  float: left;
  margin-right: 30px;
  font-weight: bold;
  text-transform: uppercase;
  color: #555;
  color: rgba(222, 222, 222, 0.8);
}
.menu a {
  margin-left: 14px;
  color: #eee;
}
.navigation a:hover {
  text-decoration: none;
  color: #ffc38c;
}
.container {
  max-width: 980px;
  *width: 980px;
  margin: 0 auto;
  zoom: 1;
}
.container:after {
  content: " ";
  display: block;
  visibility: none;
  clear: both;
}
.mainbody {
  position: relative;
  max-width: 980px;
  *width: 980px;
  margin: 0 auto;
  padding: 30px 10px;
}
.mainbody .hentry {
  margin-left: 30%;
}
.mainbody .sidebar {
  position: absolute;
  top: 30px;
  width: 30%;
  max-width: 250px;
}
.sidebar .active, .sidebar .active a {
  color: #d64;
}
.entry-description {
  color: #676867;
}
.entry-title, .entry-content h2 {
  margin: 40px -30px 30px;
  padding: 14px 30px;
  border-bottom: 1px solid #eee;
  font-weight: 500;
  color: #d64;
}
@media (max-width: 680px) {
  .entry-title, .entry-content h2 {
    margin: 40px -10px 30px;
    padding: 14px 10px;
  }
  .mainbody .hentry {
    margin-left: 0;
  }
  .mainbody .sidebar {
    position: static;
    width: auto;
    max-width: auto;
  }
}
.entry-title {
  margin-top: 10px;
}
.entry-toc {
  padding-bottom: 16px;
}
.entry-toc li {
  list-style-type: circle;
  font-size: 14px;
  line-height: 1.5;
  margin-bottom: 3px;
}
.entry-content h2 {
  border-top: 1px solid #eee;
}
.entry-content p code {
  border: 1px solid #eee;
  border-radius: 3px;
  padding: 0 2px;
  font-size: 12px;
  color: #876;
}

ol.entry-list {
  list-style: none;
  padding: 0;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 60px;
}
.entry-list li {
  zoom: 1;
  border-bottom: 1px dotted #eee;
}
.entry-list li:after {
  content: " ";
  display: block;
  visibility: none;
  clear: both;
}
.entry-list a {
  float: left;
}
.entry-list time {
  color: #999;
  font-size: 13px;
  float: right;
}
.entry-meta {
  color: #999;
  font-size: 13px;
}

a.title-permalink {
  margin-left: 4px;
  padding: 0 4px;
  text-decoration: none;
  color: white;
}
a.title-permalink:hover {
  color: #5784bf;
  background-color: #eee;
}
.footer {
  margin: 0 auto;
  max-width: 500px;
  *width: 500px;
  color: #555;
  color: rgba(0, 0, 0, 0.5);
  font-size: 15px;
  line-height: 1.3;
  padding: 20px 20px 30px;
}
.copyright {
  text-align: center;
  color: #ddd;
}
.copyright a {
  color: #ddd;
}
@media (max-width: 650px) {
  .footer {
    padding-bottom: 10px;
  }
}
.center {
  text-align: center;
}
